<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.hypertrack.sdk.flutter">
    <application>
        <service
            android:name="com.hypertrack.sdk.flutter.HyperTrackMessageForwardingService"
            android:exported="false">
            <intent-filter android:priority="10">
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>
</manifest>
